<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gimmatek.hahappy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AhaTheme.BlueActionBar">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/app_schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordsActivity"
            android:label="@string/app_Records"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordsDetailActivity"
            android:label="@string/app_RecordsDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserFuidListActivity"
            android:label="@string/app_UserFuidList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanQRCodeActivity"
            android:label="@string/app_QR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LotteryActivity"
            android:label="@string/app_Lottery"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>